body {
  background-color: rgb(255, 255, 255);
  margin-top: 200px;
}

.my-image {
  width: 80px;
  height: auto; /* 保持宽高比 */
  text-align: center;
  margin-left: 700px;
}

.container {
  flex-direction: column;
  align-items: center;
margin-left: 600px;
}

.logo {
  width: 10px;
  height: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
}

input {
  margin-bottom: 20px;
  width: 200px;
  padding: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-top: 20px;
}

button {
  padding: 10px 50px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
}

button:hover {
  background-color: #0056b3;
}
