body {
    background-color: rgb(241, 252, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .success-message {
    text-align: center;
  }
  
  .icon {
    font-size: 72px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  
  }
  
  button:hover {
    background-color: #0056b3;
  }
  